{{#partial "content"}}
    <div class="well">
    <h3>{{team.name}}</h3>
    <p>{{team.description}}</p>
    <ul>Members:
        {{#if members}}
    {{#each members}}
        <li>{{name}} - <a href="/teams/{{team.id}}/members/{{id}}">details/manage</a> </li>
        <li><a href="/teams/{{team.id}}/members/new">Add a new member</a></li>
        {{/each}}
        {{else}}
            <li>No members! <a href="/teams/{{team.id}}/members/new">Add one</a></li>
        {{/if}}
    </ul>
        <br>
        <br>
        <p><a href="/teams/{{team.id}}/update">Update this team</a></p>
        <p><a href="/teams/{{team.id}}/members/delete">Delete all members</a></p>
        <p><a href="/teams/{{team.id}}/delete">Delete this team and all members</a></p>
    </div>
{{/partial}}

{{> layout.hbs}}